h1 {
  line-height: 1;
}

/* buttons */
.links li a.btn,
.btn {
  border-radius: 5px;
  color: #666666;
  text-shadow: none;
  font-weight: bold;
  background: transparent;
  border: 1px solid #666666;
}

.links li a.btn:focus,
.btn:focus,
.links li a.btn:hover,
.btn:hover {
  color: #C13100;
  border: 1px solid #C13100;
  outline: none;
}

.primary-bg,
.links li a.primary-bg {
  background-color: #fe9a01;
}

.primary-bg:hover,
.links li a.primary-bg:hover {
  background-color: #ee9000;
}

.secondary-bg,
.links li a.secondary-bg {
  background-color: #784a96;
}

.links li a.secondary-bg:hover,
.secondary-bg:hover {
  background-color: #6a378b;
}

.highlighted,
.highlighted a {
  color: #000000;
  font-weight: bold;
}

/* News slider */
#preface-area {
  background: #f2f2f2;
  padding: 20px 0;
}

.f_newsSlideshow {
  color: #000000;
  margin: 10px 0;
  padding: 0 7%;
}

.f_newsSlideshow .news-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.f_newsSlideshow .news-desc {
  text-align: left;
  padding: 0 5%;
}

.f_newsSlideshow .news-desc img {
  float: left;
  margin-right: 20px;
}

.f_newsSlideshow .slick-prev,
.f_newsSlideshow .slick-next {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: 0 1px 0 #000000;
}

.f_newsSlideshow .slick-prev:before,
.f_newsSlideshow .slick-next:before {
  opacity: 1;
  display: inline-block;
  font: normal normal normal 25px/1 FontAwesome;
  color: #C13100;
}

.f_newsSlideshow .slick-prev:before {
  content: "\f053";
}
.f_newsSlideshow .slick-next:before {
  content: "\f054";
}

.f_newsSlideshow .slick-prev {
  left: 0;
}

.f_newsSlideshow .slick-next {
  right: 0;
}

.f_newsSlideshow .slick-dots {
  margin: 0 0 10px;
  width: auto;
  left: 0;
  right: 0;
}

.f_newsSlideshow .slick-slide {
  outline: none;
}

.f_newsSlideshow .slick-dots li {
  height: 15px;
  width: 15px;
}

.f_newsSlideshow .slick-dots li.slick-active button {
  background: #C13100;
}

.f_newsSlideshow .slick-dots li button {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #666666;
  box-shadow: none;
  height: 15px;
  width: 15px;
}

.f_newsSlideshow .slick-dots li button:before {
  content: '';
  height: 15px;
  width: 15px;
}


.breadcrumb {
  background: none;
  padding: 0;
}

h1.page-title {
  color: #000000;
  font-size: 40px;
  text-align: left;
  margin-bottom: 20px;
}

/* Add content */
#first-time p {
  display: none;
}

#first-time .item-list ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

#first-time .item-list ul li a {
  padding: 10px;
  background-color: #000000;
  border-radius: 5px;
  color: #ffffff;
}

/* Sidebar */
.view-categoriesblock h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Pagination */
.item-list ul.pager {
  padding: 40px 0 20px;
}

.item-list ul.pager li>a:hover {
  color: #C13100;
}

/* Gallery */
.popup-gallery .field-items {
  display: inline-block;
  width: 100%;
  padding: 13px 0 5px;
}

.popup-gallery .field-item {
  display: inline-block;
  vertical-align: middle;
}

.popup-gallery .field-item a {
  display: inline-block;
}

.popup-gallery .field-item a img {
  border: none !important;
  padding: 0 !important;
  max-height: 95px;
  width: 142px;
}

.albums .single-album {
  float: left;
  margin: 5px 0 5px 10px;
  text-align: center;
  font-weight: bold;
}

.albums .single-album:first-child {
  margin-left: 0;
}

ul.links.inline .comment-add {
  display: none;
}

/* News */
.news-details .field-name-field-image {
  float: left;
}

/* Comments Form */
#comment-form .form-type-item label {
  margin-right: 5px;
}

#comments {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px 15px;
  border-top: 2px solid #ccc;
}

#comments .title.comment-form {
  font-weight: bold;
  margin-bottom: 15px;
}